{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
    <h1>Welcome</h1>
    <p>Hello form a Twig template, {{ name }}!</p>

    <ul>
        {% for colour in colours %}
        <li>{{ colour }}</li>
        {% endfor %}
    </ul>

    <!-- <p>Hello <?php echo htmlspecialchars($name); ?>!</p>

    <ul>
        <?php foreach ( $colours as $colour ): ?>
        <li><?php echo htmlspecialchars($colour); ?></li>
        <?php endforeach ?>
    </ul> -->
{% endblock %}